html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display: block
}

audio,canvas,progress,video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],template {
    display: none
}

a {
    background-color: transparent
}

a:active,a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code,kbd,pre,samp {
    font-family: monospace,monospace;
    font-size: 1em
}

button,input,optgroup,select,textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,select {
    text-transform: none
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type="checkbox"],input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: 700
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,th {
    padding: 0
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

:before,:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff
}

input,button,select,textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

a {
    color: #337ab7;
    text-decoration: none
}

a:hover,a:focus {
    color: #23527c;
    text-decoration: underline
}

a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

figure {
    margin: 0
}

img {
    vertical-align: middle
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto
}

.img-rounded {
    border-radius: 6px
}

.img-thumbnail {
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto
}

.img-circle {
    border-radius: 50%
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0
}

.sr-only-focusable:active,.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto
}

[role="button"] {
    cursor: pointer
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

@media (min-width: 768px) {
    .container {
        width:750px
    }
}

@media (min-width: 992px) {
    .container {
        width:970px
    }
}

@media (min-width: 1200px) {
    .container {
        width:1170px
    }
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

.row {
    margin-left: -15px;
    margin-right: -15px
}

.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12 {
    float: left
}

.col-xs-12 {
    width: 100%
}

.col-xs-11 {
    width: 91.66666667%
}

.col-xs-10 {
    width: 83.33333333%
}

.col-xs-9 {
    width: 75%
}

.col-xs-8 {
    width: 66.66666667%
}

.col-xs-7 {
    width: 58.33333333%
}

.col-xs-6 {
    width: 50%
}

.col-xs-5 {
    width: 41.66666667%
}

.col-xs-4 {
    width: 33.33333333%
}

.col-xs-3 {
    width: 25%
}

.col-xs-2 {
    width: 16.66666667%
}

.col-xs-1 {
    width: 8.33333333%
}

.col-xs-pull-12 {
    right: 100%
}

.col-xs-pull-11 {
    right: 91.66666667%
}

.col-xs-pull-10 {
    right: 83.33333333%
}

.col-xs-pull-9 {
    right: 75%
}

.col-xs-pull-8 {
    right: 66.66666667%
}

.col-xs-pull-7 {
    right: 58.33333333%
}

.col-xs-pull-6 {
    right: 50%
}

.col-xs-pull-5 {
    right: 41.66666667%
}

.col-xs-pull-4 {
    right: 33.33333333%
}

.col-xs-pull-3 {
    right: 25%
}

.col-xs-pull-2 {
    right: 16.66666667%
}

.col-xs-pull-1 {
    right: 8.33333333%
}

.col-xs-pull-0 {
    right: auto
}

.col-xs-push-12 {
    left: 100%
}

.col-xs-push-11 {
    left: 91.66666667%
}

.col-xs-push-10 {
    left: 83.33333333%
}

.col-xs-push-9 {
    left: 75%
}

.col-xs-push-8 {
    left: 66.66666667%
}

.col-xs-push-7 {
    left: 58.33333333%
}

.col-xs-push-6 {
    left: 50%
}

.col-xs-push-5 {
    left: 41.66666667%
}

.col-xs-push-4 {
    left: 33.33333333%
}

.col-xs-push-3 {
    left: 25%
}

.col-xs-push-2 {
    left: 16.66666667%
}

.col-xs-push-1 {
    left: 8.33333333%
}

.col-xs-push-0 {
    left: auto
}

.col-xs-offset-12 {
    margin-left: 100%
}

.col-xs-offset-11 {
    margin-left: 91.66666667%
}

.col-xs-offset-10 {
    margin-left: 83.33333333%
}

.col-xs-offset-9 {
    margin-left: 75%
}

.col-xs-offset-8 {
    margin-left: 66.66666667%
}

.col-xs-offset-7 {
    margin-left: 58.33333333%
}

.col-xs-offset-6 {
    margin-left: 50%
}

.col-xs-offset-5 {
    margin-left: 41.66666667%
}

.col-xs-offset-4 {
    margin-left: 33.33333333%
}

.col-xs-offset-3 {
    margin-left: 25%
}

.col-xs-offset-2 {
    margin-left: 16.66666667%
}

.col-xs-offset-1 {
    margin-left: 8.33333333%
}

.col-xs-offset-0 {
    margin-left: 0
}

@media (min-width: 768px) {
    .col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12 {
        float:left
    }

    .col-sm-12 {
        width: 100%
    }

    .col-sm-11 {
        width: 91.66666667%
    }

    .col-sm-10 {
        width: 83.33333333%
    }

    .col-sm-9 {
        width: 75%
    }

    .col-sm-8 {
        width: 66.66666667%
    }

    .col-sm-7 {
        width: 58.33333333%
    }

    .col-sm-6 {
        width: 50%
    }

    .col-sm-5 {
        width: 41.66666667%
    }

    .col-sm-4 {
        width: 33.33333333%
    }

    .col-sm-3 {
        width: 25%
    }

    .col-sm-2 {
        width: 16.66666667%
    }

    .col-sm-1 {
        width: 8.33333333%
    }

    .col-sm-pull-12 {
        right: 100%
    }

    .col-sm-pull-11 {
        right: 91.66666667%
    }

    .col-sm-pull-10 {
        right: 83.33333333%
    }

    .col-sm-pull-9 {
        right: 75%
    }

    .col-sm-pull-8 {
        right: 66.66666667%
    }

    .col-sm-pull-7 {
        right: 58.33333333%
    }

    .col-sm-pull-6 {
        right: 50%
    }

    .col-sm-pull-5 {
        right: 41.66666667%
    }

    .col-sm-pull-4 {
        right: 33.33333333%
    }

    .col-sm-pull-3 {
        right: 25%
    }

    .col-sm-pull-2 {
        right: 16.66666667%
    }

    .col-sm-pull-1 {
        right: 8.33333333%
    }

    .col-sm-pull-0 {
        right: auto
    }

    .col-sm-push-12 {
        left: 100%
    }

    .col-sm-push-11 {
        left: 91.66666667%
    }

    .col-sm-push-10 {
        left: 83.33333333%
    }

    .col-sm-push-9 {
        left: 75%
    }

    .col-sm-push-8 {
        left: 66.66666667%
    }

    .col-sm-push-7 {
        left: 58.33333333%
    }

    .col-sm-push-6 {
        left: 50%
    }

    .col-sm-push-5 {
        left: 41.66666667%
    }

    .col-sm-push-4 {
        left: 33.33333333%
    }

    .col-sm-push-3 {
        left: 25%
    }

    .col-sm-push-2 {
        left: 16.66666667%
    }

    .col-sm-push-1 {
        left: 8.33333333%
    }

    .col-sm-push-0 {
        left: auto
    }

    .col-sm-offset-12 {
        margin-left: 100%
    }

    .col-sm-offset-11 {
        margin-left: 91.66666667%
    }

    .col-sm-offset-10 {
        margin-left: 83.33333333%
    }

    .col-sm-offset-9 {
        margin-left: 75%
    }

    .col-sm-offset-8 {
        margin-left: 66.66666667%
    }

    .col-sm-offset-7 {
        margin-left: 58.33333333%
    }

    .col-sm-offset-6 {
        margin-left: 50%
    }

    .col-sm-offset-5 {
        margin-left: 41.66666667%
    }

    .col-sm-offset-4 {
        margin-left: 33.33333333%
    }

    .col-sm-offset-3 {
        margin-left: 25%
    }

    .col-sm-offset-2 {
        margin-left: 16.66666667%
    }

    .col-sm-offset-1 {
        margin-left: 8.33333333%
    }

    .col-sm-offset-0 {
        margin-left: 0
    }
}

@media (min-width: 992px) {
    .col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12 {
        float:left
    }

    .col-md-12 {
        width: 100%
    }

    .col-md-11 {
        width: 91.66666667%
    }

    .col-md-10 {
        width: 83.33333333%
    }

    .col-md-9 {
        width: 75%
    }

    .col-md-8 {
        width: 66.66666667%
    }

    .col-md-7 {
        width: 58.33333333%
    }

    .col-md-6 {
        width: 50%
    }

    .col-md-5 {
        width: 41.66666667%
    }

    .col-md-4 {
        width: 33.33333333%
    }

    .col-md-3 {
        width: 25%
    }

    .col-md-2 {
        width: 16.66666667%
    }

    .col-md-1 {
        width: 8.33333333%
    }

    .col-md-pull-12 {
        right: 100%
    }

    .col-md-pull-11 {
        right: 91.66666667%
    }

    .col-md-pull-10 {
        right: 83.33333333%
    }

    .col-md-pull-9 {
        right: 75%
    }

    .col-md-pull-8 {
        right: 66.66666667%
    }

    .col-md-pull-7 {
        right: 58.33333333%
    }

    .col-md-pull-6 {
        right: 50%
    }

    .col-md-pull-5 {
        right: 41.66666667%
    }

    .col-md-pull-4 {
        right: 33.33333333%
    }

    .col-md-pull-3 {
        right: 25%
    }

    .col-md-pull-2 {
        right: 16.66666667%
    }

    .col-md-pull-1 {
        right: 8.33333333%
    }

    .col-md-pull-0 {
        right: auto
    }

    .col-md-push-12 {
        left: 100%
    }

    .col-md-push-11 {
        left: 91.66666667%
    }

    .col-md-push-10 {
        left: 83.33333333%
    }

    .col-md-push-9 {
        left: 75%
    }

    .col-md-push-8 {
        left: 66.66666667%
    }

    .col-md-push-7 {
        left: 58.33333333%
    }

    .col-md-push-6 {
        left: 50%
    }

    .col-md-push-5 {
        left: 41.66666667%
    }

    .col-md-push-4 {
        left: 33.33333333%
    }

    .col-md-push-3 {
        left: 25%
    }

    .col-md-push-2 {
        left: 16.66666667%
    }

    .col-md-push-1 {
        left: 8.33333333%
    }

    .col-md-push-0 {
        left: auto
    }

    .col-md-offset-12 {
        margin-left: 100%
    }

    .col-md-offset-11 {
        margin-left: 91.66666667%
    }

    .col-md-offset-10 {
        margin-left: 83.33333333%
    }

    .col-md-offset-9 {
        margin-left: 75%
    }

    .col-md-offset-8 {
        margin-left: 66.66666667%
    }

    .col-md-offset-7 {
        margin-left: 58.33333333%
    }

    .col-md-offset-6 {
        margin-left: 50%
    }

    .col-md-offset-5 {
        margin-left: 41.66666667%
    }

    .col-md-offset-4 {
        margin-left: 33.33333333%
    }

    .col-md-offset-3 {
        margin-left: 25%
    }

    .col-md-offset-2 {
        margin-left: 16.66666667%
    }

    .col-md-offset-1 {
        margin-left: 8.33333333%
    }

    .col-md-offset-0 {
        margin-left: 0
    }
}

@media (min-width: 1200px) {
    .col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12 {
        float:left
    }

    .col-lg-12 {
        width: 100%
    }

    .col-lg-11 {
        width: 91.66666667%
    }

    .col-lg-10 {
        width: 83.33333333%
    }

    .col-lg-9 {
        width: 75%
    }

    .col-lg-8 {
        width: 66.66666667%
    }

    .col-lg-7 {
        width: 58.33333333%
    }

    .col-lg-6 {
        width: 50%
    }

    .col-lg-5 {
        width: 41.66666667%
    }

    .col-lg-4 {
        width: 33.33333333%
    }

    .col-lg-3 {
        width: 25%
    }

    .col-lg-2 {
        width: 16.66666667%
    }

    .col-lg-1 {
        width: 8.33333333%
    }

    .col-lg-pull-12 {
        right: 100%
    }

    .col-lg-pull-11 {
        right: 91.66666667%
    }

    .col-lg-pull-10 {
        right: 83.33333333%
    }

    .col-lg-pull-9 {
        right: 75%
    }

    .col-lg-pull-8 {
        right: 66.66666667%
    }

    .col-lg-pull-7 {
        right: 58.33333333%
    }

    .col-lg-pull-6 {
        right: 50%
    }

    .col-lg-pull-5 {
        right: 41.66666667%
    }

    .col-lg-pull-4 {
        right: 33.33333333%
    }

    .col-lg-pull-3 {
        right: 25%
    }

    .col-lg-pull-2 {
        right: 16.66666667%
    }

    .col-lg-pull-1 {
        right: 8.33333333%
    }

    .col-lg-pull-0 {
        right: auto
    }

    .col-lg-push-12 {
        left: 100%
    }

    .col-lg-push-11 {
        left: 91.66666667%
    }

    .col-lg-push-10 {
        left: 83.33333333%
    }

    .col-lg-push-9 {
        left: 75%
    }

    .col-lg-push-8 {
        left: 66.66666667%
    }

    .col-lg-push-7 {
        left: 58.33333333%
    }

    .col-lg-push-6 {
        left: 50%
    }

    .col-lg-push-5 {
        left: 41.66666667%
    }

    .col-lg-push-4 {
        left: 33.33333333%
    }

    .col-lg-push-3 {
        left: 25%
    }

    .col-lg-push-2 {
        left: 16.66666667%
    }

    .col-lg-push-1 {
        left: 8.33333333%
    }

    .col-lg-push-0 {
        left: auto
    }

    .col-lg-offset-12 {
        margin-left: 100%
    }

    .col-lg-offset-11 {
        margin-left: 91.66666667%
    }

    .col-lg-offset-10 {
        margin-left: 83.33333333%
    }

    .col-lg-offset-9 {
        margin-left: 75%
    }

    .col-lg-offset-8 {
        margin-left: 66.66666667%
    }

    .col-lg-offset-7 {
        margin-left: 58.33333333%
    }

    .col-lg-offset-6 {
        margin-left: 50%
    }

    .col-lg-offset-5 {
        margin-left: 41.66666667%
    }

    .col-lg-offset-4 {
        margin-left: 33.33333333%
    }

    .col-lg-offset-3 {
        margin-left: 25%
    }

    .col-lg-offset-2 {
        margin-left: 16.66666667%
    }

    .col-lg-offset-1 {
        margin-left: 8.33333333%
    }

    .col-lg-offset-0 {
        margin-left: 0
    }
}

.clearfix:before,.clearfix:after,.container:before,.container:after,.container-fluid:before,.container-fluid:after,.row:before,.row:after {
    content: " ";
    display: table
}

.clearfix:after,.container:after,.container-fluid:after,.row:after {
    clear: both
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.pull-right {
    float: right!important
}

.pull-left {
    float: left!important
}

.hide {
    display: none!important
}

.show {
    display: block!important
}

.invisible {
    visibility: hidden
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0
}

.hidden {
    display: none!important
}

.affix {
    position: fixed
}

.visible-xs,.visible-sm,.visible-md,.visible-lg {
    display: none!important
}

.visible-xs-block,.visible-xs-inline,.visible-xs-inline-block,.visible-sm-block,.visible-sm-inline,.visible-sm-inline-block,.visible-md-block,.visible-md-inline,.visible-md-inline-block,.visible-lg-block,.visible-lg-inline,.visible-lg-inline-block {
    display: none!important
}

@media (max-width: 767px) {
    .visible-xs {
        display:block!important
    }

    table.visible-xs {
        display: table!important
    }

    tr.visible-xs {
        display: table-row!important
    }

    th.visible-xs,td.visible-xs {
        display: table-cell!important
    }

    .visible-xs-block {
        display: block!important
    }

    .visible-xs-inline {
        display: inline!important
    }

    .visible-xs-inline-block {
        display: inline-block!important
    }
}

@media (min-width: 768px) and (max-width:991px) {
    .visible-sm {
        display:block!important
    }

    table.visible-sm {
        display: table!important
    }

    tr.visible-sm {
        display: table-row!important
    }

    th.visible-sm,td.visible-sm {
        display: table-cell!important
    }

    .visible-sm-block {
        display: block!important
    }

    .visible-sm-inline {
        display: inline!important
    }

    .visible-sm-inline-block {
        display: inline-block!important
    }
}

@media (min-width: 992px) and (max-width:1199px) {
    .visible-md {
        display:block!important
    }

    table.visible-md {
        display: table!important
    }

    tr.visible-md {
        display: table-row!important
    }

    th.visible-md,td.visible-md {
        display: table-cell!important
    }

    .visible-md-block {
        display: block!important
    }

    .visible-md-inline {
        display: inline!important
    }

    .visible-md-inline-block {
        display: inline-block!important
    }
}

@media (min-width: 1200px) {
    .visible-lg {
        display:block!important
    }

    table.visible-lg {
        display: table!important
    }

    tr.visible-lg {
        display: table-row!important
    }

    th.visible-lg,td.visible-lg {
        display: table-cell!important
    }
}

@media (min-width: 1200px) {
    .visible-lg-block {
        display:block!important
    }
}

@media (min-width: 1200px) {
    .visible-lg-inline {
        display:inline!important
    }
}

@media (min-width: 1200px) {
    .visible-lg-inline-block {
        display:inline-block!important
    }
}

@media (max-width: 767px) {
    .hidden-xs {
        display:none!important
    }
}

@media (min-width: 768px) and (max-width:991px) {
    .hidden-sm {
        display:none!important
    }
}

@media (min-width: 992px) and (max-width:1199px) {
    .hidden-md {
        display:none!important
    }
}

@media (min-width: 1200px) {
    .hidden-lg {
        display:none!important
    }
}

.visible-print {
    display: none!important
}

@media print {
    .visible-print {
        display: block!important
    }

    table.visible-print {
        display: table!important
    }

    tr.visible-print {
        display: table-row!important
    }

    th.visible-print,td.visible-print {
        display: table-cell!important
    }
}

.visible-print-block {
    display: none!important
}

@media print {
    .visible-print-block {
        display: block!important
    }
}

.visible-print-inline {
    display: none!important
}

@media print {
    .visible-print-inline {
        display: inline!important
    }
}

.visible-print-inline-block {
    display: none!important
}

@media print {
    .visible-print-inline-block {
        display: inline-block!important
    }
}

@media print {
    .hidden-print {
        display: none!important
    }
}

/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
.owl-carousel,.owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative
}

.owl-carousel {
    display: none;
    width: 100%;
    z-index: 1
}

.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    -moz-backface-visibility: hidden
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0,0,0)
}

.owl-carousel .owl-item,.owl-carousel .owl-wrapper {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0)
}

.owl-carousel .owl-item {
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%
}

.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled {
    display: none
}

.no-js .owl-carousel,.owl-carousel.owl-loaded {
    display: block
}

.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl-carousel.owl-loading {
    opacity: 0;
    display: block
}

.owl-carousel.owl-hidden {
    opacity: 0
}

.owl-carousel.owl-refresh .owl-item {
    visibility: hidden
}

.owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl-carousel.owl-grab {
    cursor: move;
    cursor: grab
}

.owl-carousel.owl-rtl {
    direction: rtl
}

.owl-carousel.owl-rtl .owl-item {
    float: right
}

.owl-carousel .animated {
    animation-duration: 1s;
    animation-fill-mode: both
}

.owl-carousel .owl-animated-in {
    z-index: 0
}

.owl-carousel .owl-animated-out {
    z-index: 1
}

.owl-carousel .fadeOut {
    animation-name: fadeOut
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.owl-height {
    transition: height .5s ease-in-out
}

.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity .4s ease
}

.owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d
}

.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000
}

.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url(owl.video.play.png) no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transition: transform .1s ease
}

.owl-carousel .owl-video-play-icon:hover {
    -ms-transform: scale(1.3,1.3);
    transform: scale(1.3,1.3)
}

.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn {
    display: none
}

.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity .4s ease
}

.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%
}

body {
    background-color: #000d0f;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.1em;
    position: relative;
}

a {
    color: #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a:hover, a:focus {
    color: #02e9eb;
}

h1, .h1, h2, .h2, h3, .h3 {
    font-weight: 400;
    letter-spacing: 0.1em;
}

h1, .h1 {
    font-size: 54px;
    letter-spacing: 5.3px;
}

h3, .h3 {
    font-size: 30px;
}

.eve-template .main-content {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    float: none;
}

.jarallax {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/*********
* Header *
**********/
.eve-header {
    padding-top: 31px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 12;
}

.admin-bar .eve-header {
    top: 0;
}

.eve-logo {
    padding-left: 50px;
}

.eve-title {
    padding-top: 5px;
}

.eve-title h1 ,.eve-title .h1 {
    text-align: center;
    font-size: 54px;
    margin: 0;
}

.eve-cart {
    min-height: 55px;
    top: 0;
    right: 20px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.eve-cart img {
    float: right;
}

.eve-cart .cart-items-count {
    display: block;
}

.eve-cart .woocommerce-Price-amount {
    display: block;
}

.eve-cart {
    background: url(../images/eve-basket.png) center right no-repeat;
    text-align: right;
}

.eve-cart .cart-contents {
    display: block;
    padding-right: 76px;
    padding-top: 5px;
}

.eve-cart .cart-contents:hover {
    text-decoration: none;
}

.eve-cart-wrap {
    padding-top: 10px;
}

/*********
* FOOTER *
**********/
.site-footer {
    background-color: rgba(0,0,0,0.66);
    font-size: 14px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px 0 10px;
    letter-spacing: normal;
}

.eve-footer-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.eve-footer-nav ul li {
    display: inline-block;
    border-right: 2px solid #fff;
}

.eve-footer-nav ul li:last-child {
    border-right: none;
}

.eve-footer-nav ul li a {
    padding: 0 14px;
    display: inline-block;
}

.eve-footer-nav ul li:first-child a {
    padding-left: 0;
}

.eve-footer-nav ul li:last-child a {
    padding-right: 0;
}

.footer-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*********
* Category page *
**********/
.eve-top {
    padding-top: 147px;
    padding-bottom: 215px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #032831;
    background-image: url(../images/Eve-Space.jpg);
}

.eve-top.fixed {
    position: fixed!important;
    top: 0;
    width: 100%;
    z-index: 11!important;
    padding-top: 15px;
    padding-bottom: 15px;
}

.eve-top-fixed .eve-cart, .eve-cart.fixed {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 15;
}

.eve-top-fixed .eve-logo {
    display: none;
}

.eve-top-fixed .eve-title {
    display: none;
}

.admin-bar .eve-top.fixed {
    top: 32px;
}

.admin-bar.eve-top-fixed .eve-cart, .eve-cart.fixed {
    top: 42px;
}

.eve-top.fixed .eve-product__img {
    display: none;
}

.eve-top.fixed .eve-product__prices-wrap {
    position: static;
    opacity: 1;
    background-color: transparent;
}

.eve-top.fixed .product__price-item, .eve-top.fixed ul.products li.product .price {
    font-size: 20px;
}

.eve-top.fixed ul.products li .woocommerce-LoopProduct-link > span.price {
    display: none;
}

.eve-top.fixed .product-inner {
    padding-top: 15px;
}

body.eve-template.woocommerce ul.products li.product,
body.eve-template.woocommerce-page ul.products li.product {
    width: 33.333%;
    margin: 0;
    padding: 0 15px;
}

body.eve-template.woocommerce ul.products {
    margin-left: -15px;
    margin-right: -15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.term-23 .page-title {
    display: none;
}

.eve-product, .product-inner {
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    padding: 34px 0 3px;
    font-size: 30px;
    position: relative;
}

/* .product-inner  {height: 100%;} */
.eve-product a {
    display: block;
}

.eve-product a:hover {
    text-decoration: none;
}

.eve-product__title, .woocommerce ul.products li.product h3 {
    text-transform: uppercase;
    margin: 0 0 20px;
    padding: 0;
    letter-spacing: 3px;
}

.eve-product__img {
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.eve-product__img img, .woocommerce ul.products li.product a img {
    position: relative;
    z-index: 1;
    width: auto;
    display: inline-block;
    margin-bottom: 0;
}

.eve-product__img::after {
    content: '';
    position: absolute;
    width: calc(100% + 60px);
    height: calc(100% + 60px);
    position: absolute;
    left: -30px;
    top: -15px;
    background-size: contain;
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 0;
    background-repeat: no-repeat;
    background-position: center center;
}

.eve-product--plex .eve-product__img::after, li.post-1093 .eve-product__img::after {
    background-image: url(../images/plex-spread.png);
}

.eve-product--isk .eve-product__img::after, li.post-1114 .eve-product__img::after {
    background-image: url(../images/isk-spread.png);
}

.eve-product--injector .eve-product__img::after, li.post-11050 .eve-product__img::after {
    background-image: url(../images/skill-injector-spread.png);
}

body.eve-product a:hover .eve-product__img::after,
body.eve-template.woocommerce ul.products li.product a:hover .eve-product__img::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.eve-template .woocommerce-result-count, .eve-template .woocommerce-ordering {
    display: none;
}

.eve-bot {
    background: url(../images/space.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
    padding: 84px 0 100px;
}

.eve-bot > .container {
    position: relative;
    z-index: 1;
}

.eve-bot::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
}

.eve-bot .h1 {
    text-align: center;
    position: relative;
    margin-bottom: 1em;
    text-transform: uppercase;
}

.eve-bot .h1::after {
    content: '';
    display: block;
    max-width: 205px;
    height: 1px;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 9px;
}

.eve-bot .content {
}

.eve-bot__section {
    margin-bottom: 2.5em;
}

/*price*/
.woocommerce ul.products li .woocommerce-LoopProduct-link > span.price {
    border-top: 2px solid rgba(255,255,255,0.6);
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    text-align: left;
}

.archive ul.products li .woocommerce-LoopProduct-link > span.price {
    padding: 36px;
    font-size: 20px;
}

.woocommerce ul.products li .woocommerce-LoopProduct-link > span.price del {
    display: none;
}

.woocommerce ul.products .eve-related li .woocommerce-LoopProduct-link > span.price {
    border-width: 1px;
    font-size: 17px;
}

.product__price-item {
    position: relative;
    font-size: 25px;
    letter-spacing: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
    border-top: 2px solid rgba(255,255,255,0.6);
}

.product__price-item > div {
    min-height: 67px;
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.product__price {
    text-align: right;
    border-right: 2px solid rgba(255,255,255,0.6);
    padding-right: 15px;
    padding-left: 5px;
    min-width: 84px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.product__title {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0 5px;
}

.product__title p {
    margin: 0;
}

.product__add {
    padding: 0 17px;
}

.product__add button {
    width: 35px;
    height: 35px;
    line-height: 31px;
    font-size: 31px;
    display: inline-block;
    border: 2px solid #23b891;
    border-radius: 50%;
    color: #23b891;
    background-color: transparent;
    padding: 0;
}

.product__add button:hover, .product__add button:focus {
    border-color: white;
    color: #fff;
    outline: none;
}

.price-old {
    font-size: 12px;
    text-decoration: line-through;
    color: #25ca9e;
    white-space: nowrap;
    display: block;
}

.woocommerce ul.products li.product .price {
    margin-bottom: 0;
}

.woocommerce div.product p.price, .woocommerce div.product span.price, .woocommerce ul.products li.product .price {
    color: #fff;
    font-size: 25px;
}

.woocommerce div.product p.price del, .woocommerce div.product span.price del, .woocommerce ul.products li.product .price del {
    color: #25ca9e;
    opacity: 1;
    font-size: 0.5em;
    display: block;
}

.woocommerce div.product p.price ins, .woocommerce div.product span.price ins, .woocommerce ul.products li.product .price ins {
    font-weight: 400;
    text-decoration: none;
}

.eve-product__prices-wrap {
    position: absolute;
    width: 100%;
    z-index: -1;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    top: calc(100% - 30px);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.woocommerce li.product:hover .eve-product__prices-wrap {
    opacity: 1;
    top: 100%;
    z-index: 10;
}

.archive li.product:hover .woocommerce-LoopProduct-link > span.price {
    opacity: 0;
    top: calc(100% - 15px);
    z-index: -1;
}

.product__price .woocommerce a.added_to_cart, .product__add a.added_to_cart {
    display: none;
}

/*********
* Single page *
**********/
.woocommerce div.product .woocommerce-tabs ul.tabs {
    padding-left: 0;
    margin-bottom: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs:before {
    display: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
    border-radius: 0;
    border: none;
    background-color: rgba(255,255,255,0.2);
    margin-right: 10px;
    margin-left: 0;
    padding: 0;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    display: block;
    float: left;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:hover {
    background-color: rgba(255,255,255,0.4);
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:last-child {
    margin-right: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    background: #003638;
    background: -webkit-gradient(linear, left top, right top, from(#003638),color-stop(50%, #25ca9e),to(#003638));
    background: linear-gradient(to right, #003638 0%,#25ca9e 50%,#003638 100%);
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.06em;
    min-width: 240px;
    text-align: center;
    line-height: 46px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:after, .woocommerce div.product .woocommerce-tabs ul.tabs li:before {
    display: none;
}

.woocommerce div.product .woocommerce-tabs .panel {
    background-color: rgba(255,255,255,0.1);
    padding: 5px 52px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover {
    color: #fff;
}

.woocommerce-error, .woocommerce-info, .woocommerce-message {
    z-index: 2;
}

.eve-related {
    width: 22.3%;
    padding-right: 10px;
}

.eve-related-mobile {
    display: none;
}

.eve-related .product-inner {
    padding-top: 16px;
}

.eve-related .eve-product__prices-wrap, .eve-related.eve-related-mobile .eve-product__prices-wrap {
    display: none;
}

.woocommerce .eve-related div.product p.price, .woocommerce .eve-related div.product span.price, .woocommerce .eve-related ul.products li.product .price {
    font-size: 14px;
}

.related.products>h2 {
    display: none;
}

.woocommerce ul.products li.product.product_cat-eveonline .woocommerce-loop-product__title {
    padding: 4px 0;
}

.related.products .product__price {
    min-width: 60px;
}

.woocommerce .eve-related ul.products li .woocommerce-LoopProduct-link > span.price {
    border-width: 1px;
    position: static;
    font-size: 12px;
    background-color: transparent;
    margin-bottom: 0;
    padding: 16px;
}

body.eve-template.woocommerce .related ul.products li.product,
body.eve-template.woocommerce-page .related ul.products li.product {
    width: 100%;
    padding: 0 15px;
    margin-bottom: 10px;
}

.woocommerce .related ul.products li.product h3 {
    font-size: 20px;
}

.woocommerce div.product .product_title {
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
}

.woocommerce div.product div.images {
    width: 100%;
}

.single_title_wrap {
    background-color: rgba(0,0,0,0.5);
    padding-top: 46px;
    padding-bottom: 13px;
    width: 41.1%;
}

.single-product-meta {
    width: 36.6%;
}

.eve-contacts {
    background-color: rgba(0,0,0,0.5);
    padding: 17px 10px 17px 35px;
}

.eve-contacts ul {
    list-style: none;
    padding: 0;
    margin: 0;
    letter-spacing: 0.06em;
}

.eve-contacts li {
    margin-bottom: 15px;
}

.eve-contacts__title {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.eve-contacts li img {
    margin-right: 30px;
}

.single-product-meta .eve-product__prices-wrap {
    margin-bottom: 10px;
    display: block;
    position: static;
    opacity: 1;
}

.single-product-meta .product__price-item:first-child {
    border-top: none;
}

.single-product-meta .product__title {
    padding-left: 30px;
    padding-top: 0;
    padding-bottom: 0;
}

.single-product .related.products .product {
    margin-bottom: 10px;
    padding: 0 15px;
}

.single-product .related.products .eve-product__img {
    padding: 0 20px;
}

.single-product .related.products .product__price-item {
    font-size: 17px;
}

.single-product .eve-top {
    padding-bottom: 15px;
}

.single .eve-related ul.products {
    margin-bottom: 0;
}

.share-counter {
    display: inline-block!important;
    border: none!important;
}

.share-counter::before {
    content: none!important;
}

.share-counter::after {
    content: none!important;
}

#__utl-buttons-1 .uptl_toolbar>ul>li {
    border-radius: 25px !important;
    overflow: hidden !important;
    margin: 0 10px!important;
    min-width: 128px;
    text-align: left;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#__utl-buttons-1 .uptl_toolbar>ul>li:first-child {
    margin-left: 0!important;
}

#__utl-buttons-1 .uptl_toolbar>ul>li:hover {
    opacity: 0.85;
}

#__utl-buttons-1 .uptl_toolbar .size-30 .sn-icon {
    width: 50%!important;
    position: relative;
    border-radius: 25px;
}

#__utl-buttons-1 .uptl_toolbar>ul>li>span {
    margin-left: 27px!important;
}

.sn-icon::after {
    content: '';
    position: absolute;
    top: 8px;
    right: 0;
    width: 1px;
    height: 14px;
    background: rgba(255,255,255,0.5);
}

.uptl_toolbar>ul>li[data-snid="fb"] {
    background: #45639e;
}

.uptolike-buttons {
    margin-top: 30px;
}

.uptl_toolbar>ul>li[data-snid="gp"] {
    background: #dd4b39;
}

.horizontal .uptl_toolbar.uptl_toolbar_share ul li span.share-counter {
    background: transparent!important;
}

.woocommerce #review_form #respond textarea {
    background-color: transparent;
}

/*owl-theme*/
.owl-theme .owl-dots,.owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent
}

.owl-theme .owl-nav {
    margin-top: 10px
}

.owl-theme .owl-nav [class*=owl-] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: #4DC7A0;
    color: #FFF;
    text-decoration: none
}

.owl-theme .owl-nav .disabled {
    opacity: .5;
    cursor: default
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom:1}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
    border-radius: 30px
}

.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span {
    background: #4DC7A0
}

@media only screen and (max-width: 1200px) {
    .woocommerce div.product .woocommerce-tabs ul.tabs li a {
        min-width: 0;
        padding-left: 20px;
        padding-right: 20px;
    }

    .woocommerce ul.products li.product .price {
        font-size: 20px;
    }

    .eve-contacts li {
        margin-bottom: 5px;
    }

    .eve-contacts {
        font-size: 16px;
    }

    .eve-contacts li img {
        margin-right: 10px;
    }

    .single-product-meta .product__title {
        padding-left: 10px;
    }

    .single-product-meta .product__price-item {
        font-size: 20px;
    }

    .single-product-meta .product__price-item > div {
        min-height: 55px;
    }

    .single-product-meta div.product__price-item span.price {
        font-size: 20px;
    }

    #__utl-buttons-1 .uptl_toolbar>ul>li {
        min-width: 110px;
    }

    .single_title_wrap {
        padding-bottom: 5px;
    }

    .uptolike-buttons {
        margin-bottom: 23px;
        margin-top: 26px;
    }
}

@media only screen and (max-width: 991px) {
    .eve-related {
        width: 27%;
    }

    .single_title_wrap {
        width: 36.4%;
    }

    .eve-title h1, .eve-title .h1 {
        font-size: 36px;
    }

    .eve-cart .cart-contents {
        font-size: 18px;
    }

    .woocommerce div.product .woocommerce-tabs ul.tabs li a {
        padding-left: 10px;
        padding-right: 10px;
    }

    .eve-contacts__title {
        font-size: 22px;
        margin-bottom: 5px;
    }

    .eve-contacts li img {
        margin-right: 5px;
    }

    .eve-contacts {
        padding: 15px 10px;
        font-size: 15px;
    }

    .uptolike-buttons {
        margin-top: 15px;
        margin-bottom: 0;
    }

    .single div.product .product_title {
        margin-bottom: 62px;
    }

    #__utl-buttons-1 .uptl_toolbar>ul {
        white-space: normal;
    }

    #__utl-buttons-1 .uptl_toolbar>ul>li {
        min-width: 94px;
    }

    #__utl-buttons-1 .uptl_toolbar>ul>li:last-child {
        margin-right: 10px!important;
    }

    #__utl-buttons-1 .uptl_toolbar>ul>li>span {
        margin-left: 0px!important;
        width: 30px;
    }

    .single-product-meta .product__price-item {
        font-size: 18px;
    }

    .single-product-meta .product__title {
        padding-left: 15px;
    }

    .single-product-meta .product__price {
        min-width: 75px;
    }

    .single_title_wrap {
        padding-bottom: 31px;
    }

    .woocommerce ul.products li .woocommerce-LoopProduct-link > span.price {
        padding: 15px 20px;
    }

    .woocommerce .eve-related ul.products li .woocommerce-LoopProduct-link > span.price {
        padding: 10px;
    }

    .woocommerce .eve-related ul.products li.product a img {
        margin-bottom: 0px;
    }

    .woocommerce .related ul.products li.product h3 {
        margin-bottom: 5px;
    }

    body.eve-template.woocommerce .related ul.products li.product,
    body.eve-template.woocommerce-page .related ul.products li.product {
        margin-bottom: 9px;
    }
}

/* planshet i mobil'nye ustroystva */
@media only screen and (max-width: 767px) {
    body {
        font-size: 13px;
    }

    h1, .h1 {
        font-size: 23px;
    }

    .eve-logo {
        padding-left: 15px;
    }

    .eve-top {
        padding-top: 200px;
        padding-bottom: 0;
    }

    .eve-bot {
        padding-bottom: 130px;
    }

    .single .eve-bot {
        padding-top: 45px;
    }

    .eve-video .embed-container {
        margin-bottom: 15px;
    }

    body.eve-template.woocommerce ul.products li.product,
    body.eve-template.woocommerce-page ul.products li.product {
        width: 100%;
    }

    .archive .woocommerce-LoopProduct-link {
        width: 50%;
        float: left;
    }

    .eve-product__prices-wrap, .archive ul.products li.product h3 {
        position: static;
        width: 50%;
        float: right;
        opacity: 1;
    }

    .archive ul.products li .woocommerce-LoopProduct-link > span.price {
        display: none;
    }

    .archive .eve-product__prices-wrap {
        background-color: transparent;
    }

    .product-inner {
        margin-bottom: 10px;
        height: auto;
        padding-bottom: 0;
        padding-top: 12px;
    }

    .archive .product__price {
        padding-right: 8px;
        min-width: 64px;
        border-width: 1px;
    }

    .archive .product__price-item, .archive ul.products li.product .price {
        font-size: 14px;
        border-width: 1px;
    }

    .product-inner::after {
        content: '';
        display: table;
        clear: both;
    }

    .site-footer {
        text-align: center;
    }

    .footer-flex {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .footer-flex > div {
        margin-bottom: 12px;
    }

    .footer-flex .eve-designed {
        margin-bottom: 0;
    }

    .single-product-meta .eve-product__prices-wrap {
        width: 100%;
    }

    .woocommerce ul.products li.product h3 {
        font-size: 20px;
    }

    .single div.product .product_title {
        margin-bottom: 20px;
    }

    .woocommerce div.product .woocommerce-tabs .panel {
        padding-left: 15px;
        padding-right: 15px;
    }

    .woocommerce div.product .woocommerce-tabs ul.tabs li a {
        line-height: 25px;
    }

    .eve-related {
        display: none;
    }

    .eve-related-mobile {
        display: block;
        width: 100%;
        padding: 0;
        margin-bottom: 10px;
    }

    .eve-related-mobile .eve-product__prices-wrap {
        background-color: transparent;
    }

    .eve-related-mobile .woocommerce-LoopProduct-link {
        width: 100%;
    }

    .eve-related-mobile .product-inner {
        margin-bottom: 0;
    }

    body.eve-template.woocommerce .eve-related-mobile ul.products {
        margin-left: -3px;
        margin-right: -3px;
    }

    body.eve-template.woocommerce-page .eve-related-mobile ul.products li.product {
        width: 50%;
        padding-left: 3px;
        padding-right: 3px;
        margin-bottom: 0;
    }

    .single_title_wrap {
        margin-bottom: 10px;
        margin-left: 15px;
        padding-top: 15px;
        padding-bottom: 0;
        width: auto;
        float: none;
        margin-right: 15px;
    }

    .single div.product div.images {
        margin-bottom: 0;
    }

    .woocommerce-main-image {
        text-align: center;
        display: block;
    }

    .woocommerce div.product div.images img {
        width: auto;
        display: inline-block;
    }

    .eve-contacts {
        clear: both;
        font-size: 15px;
        margin-bottom: 15px;
    }

    .single-product-meta {
        width: 100%;
    }
}

@media only screen and (max-width: 620px) {
    .woocommerce div.product .woocommerce-tabs ul.tabs {
        margin-left: -5px;
        margin-right: -5px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .woocommerce div.product .woocommerce-tabs ul.tabs li {
        width: 25%;
        background-color: transparent;
        margin-right: 0;
        padding: 0 5px;
        word-wrap: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }

    .woocommerce div.product .woocommerce-tabs ul.tabs li:last-child {
        padding-right: 5px;
    }

    .woocommerce div.product .woocommerce-tabs ul.tabs li a {
        background-color: rgba(255,255,255,0.2);
        display: block;
        display: block;
        height: 100%;
        line-height: 1;
    }

    .woocommerce div.product .woocommerce-tabs ul.tabs li.active {
        background: transparent;
    }

    .woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
        padding-left: 3px;
        padding-right: 3px;
        font-size: 12px;
        background: #003638;
        background: -webkit-gradient(linear, left top, right top, from(#003638),color-stop(50%, #25ca9e),to(#003638));
        background: linear-gradient(to right, #003638 0%,#25ca9e 50%,#003638 100%);
    }
}

@media only screen and (max-width: 480px) {
    .archive .product__price-item, .archive ul.products li.product .price {
        font-size: 11px;
    }

    .product__add {
        padding-left: 10px;
        padding-right: 15px;
    }

    .archive .product__add {
        padding-right: 5px;
    }

    .product__add button {
        width: 30px;
        height: 30px;
        border-width: 1px;
        line-height: 28px;
        font-size: 28px;
        padding: 0;
    }

    .product__price-item > div {
        min-height: 34px;
    }

    .archive .product__price {
        min-width: 40px;
    }

    .woocommerce ul.products li.product h3 {
        font-size: 18px;
    }

    .eve-cart .cart-contents {
        font-size: 13px;
    }

    .woocommerce div.product .product_title, .eve-title h1, .eve-title .h1 {
        font-size: 22px;
    }

    .woocommerce div.product .woocommerce-tabs ul.tabs li {
        padding: 0 1px;
    }

    .woocommerce div.product .woocommerce-tabs ul.tabs li a {
    }

    .eve-footer-nav ul li a {
        font-size: 12px;
        padding: 0 7px;
    }

    .woocommerce #reviews #comments ol.commentlist {
        padding-left: 0;
    }
}

@-webkit-keyframes bounceIn {
    from,20%,40%,60%,80%,to {
        -webkit-animation-timing-function: cubic-bezier(0.215,0.610,0.355,1.000);
        animation-timing-function: cubic-bezier(0.215,0.610,0.355,1.000)
    }

    0% {
        -webkit-transform: scale3d(.3,.3,.3);
        transform: scale3d(.3,.3,.3)
    }

    20% {
        -webkit-transform: scale3d(1.1,1.1,1.1);
        transform: scale3d(1.1,1.1,1.1)
    }

    40% {
        -webkit-transform: scale3d(.9,.9,.9);
        transform: scale3d(.9,.9,.9)
    }

    60% {
        -webkit-transform: scale3d(1.03,1.03,1.03);
        transform: scale3d(1.03,1.03,1.03)
    }

    80% {
        -webkit-transform: scale3d(.97,.97,.97);
        transform: scale3d(.97,.97,.97)
    }

    to {
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1)
    }
}

@keyframes bounceIn {
    from,20%,40%,60%,80%,to {
        -webkit-animation-timing-function: cubic-bezier(0.215,0.610,0.355,1.000);
        animation-timing-function: cubic-bezier(0.215,0.610,0.355,1.000)
    }

    0% {
        -webkit-transform: scale3d(.3,.3,.3);
        transform: scale3d(.3,.3,.3)
    }

    20% {
        -webkit-transform: scale3d(1.1,1.1,1.1);
        transform: scale3d(1.1,1.1,1.1)
    }

    40% {
        -webkit-transform: scale3d(.9,.9,.9);
        transform: scale3d(.9,.9,.9)
    }

    60% {
        -webkit-transform: scale3d(1.03,1.03,1.03);
        transform: scale3d(1.03,1.03,1.03)
    }

    80% {
        -webkit-transform: scale3d(.97,.97,.97);
        transform: scale3d(.97,.97,.97)
    }

    to {
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1)
    }
}

.bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#jarallax-container-0 {
    transition: all 0.1s linear;
}

.eve-logo {
    padding-left: 15px;
}

.eve-logo-row {
    width: 89.2%;
    margin-left: 0;
}

.eve-logo-col {
    padding-left: 0;
}

.stamp-col {
    padding: 0;
}

.stamp-wrapper {
    position: relative;
    display: block;
    margin: -5px;
}

.stamp-wrapper .stamp-img {
    position: absolute;
    left: 2px;
    top: -2px;
}

@keyframes splash {
    50% {
        transform: scale(1);
    }

    60% {
        transform: scale(0.9);
    }

    70% {
        transform: scale(1.1);
    }

    80% {
        transform: scale(0.9);
    }

    90% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.stamp-wrapper .stamp-in {
    animation: splash 4s linear infinite;
}
